body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ececec;
}

/*Apartir daqui configurações da Navbar*/ 
header {
    background: linear-gradient(to right, #8a0fdc, #c6d42a);
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    color: white;
}
header .icons i {
    width: 24px;
    margin: 0 10px;
    cursor: pointer;
}
header .icons{
    margin-right: 80px;
    margin-left: 20px;
}

.search-bar {
    flex-grow: 1;
    margin: 0 20px;
}
.search-bar input {
    width: 80%;
    padding: 5px;
}

.logo{
    font-family: 'Jaro', sans-serif; /*Adiciona a fonte Jaro á logo do site*/ 
    font-size: 40px;
    padding-left: 30px;
}

.hamburger-btn { /* Botão de 3 riscos no canto direito */
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 1001;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger-btn .bar {
    width: 25px;
    height: 3px;
    background-color: #272b64;
    margin: 5px 0;
    transition: 0.3s;
}

.menu-lateral {/* Menu lateral desse mesmo botão */
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #520a81;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}

.menu-lateral a {
    padding: 12px 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.menu-lateral a:hover {
    background-color: #340752;
}

.overlay {/* Fundo escurecido para fechar o menu */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 999;
}

.overlay.show {
    display: block;
}

/*Apartir daqui configurações principais dessa tela*/
/*Parte do José*/
 
.banner-top { /* IMAGEM COM TEXTO EM CIMA */
position: relative;
width: 100%;
max-height: 300px;
overflow: hidden;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.banner-top img {
width: 100%;
display: block;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}

/* TEXTO EM CIMA DA IMAGEM */
.msg-no-banner {
position: absolute;
bottom: -20px;
left: 50%;
transform: translateX(-50%);
background: rgba(0, 0, 0, 0.5);
margin-bottom: 6%;
border-radius: 12px;
color: white;
text-align: center;
backdrop-filter: blur(4px);
width: 600px;
height: 200px;
}

.msg-no-banner h1 {
margin: 0;
font-size: 32px;
font-weight: 600;
text-align: center;
margin-top: 7%;
}

.msg-no-banner p {
margin-top: 10px;
font-size: 18px;
max-width: 400px;
margin-left: 17%;
}

/*Parte do Luca*/
.container {
background-color: #fff;
margin: 20px;
padding: 20px;
border-radius: 10px;
}
h1 {
font-size: 28px;
}
h2 {
margin-top: 30px;
font-size: 24px;
text-align: center;
}
.section {
text-align: center;
margin-bottom: 20px;
}
.names {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 15px;
margin-top: 10px;
}
.footer {
border-top: 2px solid #000;
margin-top: 20px;
padding-top: 10px;
text-align: center;
font-weight: bold;
}