body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
  }

  /*Apartir daqui configurações da Navbar*/
  header {
    background: linear-gradient(to right, #8a0fdc, #c6d42a);
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    color: white;
  }

  header .icons i {
    width: 24px;
    margin: 0 10px;
    cursor: pointer;
  }

  header .icons {
    margin-right: 80px;
    margin-left: 20px;
  }

  .search-bar {
    flex-grow: 1;
    margin: 0 20px;
  }

  .search-bar input {
    width: 80%;
    padding: 5px;
  }

  .logo {
    font-family: 'Jaro', sans-serif;
    /*Adiciona a fonte Jaro á logo do site*/
    font-size: 40px;
    padding-left: 30px;
  }

  .hamburger-btn {
    /* Botão de 3 riscos no canto direito */
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 1001;
    background: none;
    border: none;
    cursor: pointer;
  }

  .hamburger-btn .bar {
    width: 25px;
    height: 3px;
    background-color: #272b64;
    margin: 5px 0;
    transition: 0.3s;
  }

  .menu-lateral {
    /* Menu lateral desse mesmo botão */
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #520a81;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
  }

  .menu-lateral a {
    padding: 12px 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .menu-lateral a:hover {
    background-color: #340752;
  }

  .overlay {
    /* Fundo escurecido para fechar o menu */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 999;
  }

  .overlay.show {
    display: block;
  }

  .container {
    max-width: 1200px;
    margin: auto;
  }

  .titulo {
    text-align: center;
    margin-bottom: 10px;
  }

  .titulo h1 {
    font-size: 2rem;
    color: #1a1a1a;
  }

  .titulo p {
    font-size: 1.2rem;
    color: #666;
    font-weight: bold;
  }

  .principal {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
  }

  .imagem,
  .conteudo {
    flex: 1 1 300px;
  }

  .imagem img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .subtitulo {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #1a1a1a;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    .principal {
      flex-direction: column;
    }
  }