
        body { /* Cor de fundo roxa e aplicação da fonte Jaro*/
            font-family: 'Jaro', sans-serif; 
            margin: 0;
            display: flex;
            height: 100vh;
            background: #171718;
        }



        /* Bloco branco de Login*/
        .card { 
            background: #6A0DAD;
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            width: 350px;
            height: 400px;
            text-align: center;
            color: #ffff;
            margin-left: 110%;
            margin-top: 20%;
            
        }

        .card a, .card2 a{
            
            color: #9BAD0E;

        }

       

        .card img, .card2 img{
            width: 40%;
            margin-top: -8%;
            margin-bottom: -6%;
            
        }


        /* Bloco branco de Cadastro*/
        .card2 { 
            background: #6A0DAD;
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            width: 350px;
            height: 450px;
            text-align: center;
            color: #ffff;
            margin-left: 110%;
            margin-top: 15%;
        }

        /* Apartir daqui códigos em Comum entre os dois*/
        .formulario { /* Alinha os inputs*/
            
            text-align: left;
        
        }

        input { /* Tamanho dos input, estética e mais alinhamento*/
            width: 92%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            margin-top: 8px;
            background-color: #212022;
            color: #ffffff;
        }

        /* Botão de submit dos inputs*/
        button { 
            background: #9BAD0E;
            color: white;
            width: 100%;
            padding: 12px;
            border: none;
            border-radius: 5px;
            margin-top: 1rem;
            cursor: pointer;
        }

        button:hover { 
            background: #525825;
        }

        

        /* Mensagem de erro ou sucesso do servidor em validar login do JS do Leo*/
        .message { 
            margin-top: 10px;
            padding: 10px;
            border-radius: 10px;
        }
        .error { background: #ffcccc; color: #cc0000; }
        .success { background: #ccffcc; color: #006600; }



        .hidden { /* Se tirar isso desconfigura tudo, não tire*/
            display: none;

        }
   